@import url("https://fonts.googleapis.com/css?family=Roboto:300,400|Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  background: #fbfbfb;
  margin: 0;
  font-family: "Rubik Mono One", sans-serif;
  overflow-x: hidden;
  touch-action: manipulation;
}

/**************/
/*** Header ***/
.header {
  position: absolute;
  display: flex;
  align-items: center;
  top: 16px;
  left: 0;
  right: 0;
  width: 96vw;
  margin: 0 auto 0 auto;
  /* outline: 1px solid red; */
}
.logo {
  margin-left: var(--cards-margin);
  font-size: 1.125rem;
  padding-left: 6px;
  user-select: none;
}
.description {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  margin-left: var(--cards-margin);
  padding-left: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}
.github-button {
  margin-left: auto;
  padding-right: 8px;
  margin-right: 28px;
  /* outline: 1px solid red; */
}
#codesandbox-logo {
  /* position: absolute; */
  height: 16px;
  margin-right: var(--cards-margin);
  color: #4b4b4b;
  transform: scale(1.8) translateX(-50%);
  transition: color 0.3s, box-shadow 0.3s, transform 0.3s;
  padding: 2px;
  border-radius: 4px;
}
#codesandbox-logo:hover {
  color: #2b2b2b;
  box-shadow: 0 0 6px 0 rgb(199, 199, 199);
  transform: scale(1.9) translateX(-50%);
}
@media screen and (max-width: 960px) {
  .github-button {
    transform: translateY(3%);
    margin-right: 18px;
  }
  #codesandbox-logo {
    transform: scale(1.4) translateX(-50%);
  }
  #codesandbox-logo:hover {
    transform: scale(1.5) translateX(-50%);
  }
}
.job {
  position: fixed;
  padding: 0 12px 0 12px;
  z-index: 10;
  top: -100px;
  left: 0;
  right: 0;
  width: 234px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto 0 auto;
  background-color: coral;
  text-align: center;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgb(227, 255, 235);
  box-shadow: 0 0 32px 0 rgba(255, 68, 0, 0.521);
  vertical-align: baseline;
}
.job .counter {
  position: absolute;
  right: 0;
  top: 0;
  line-height: normal;
  font-size: 10px;
  margin: 2px;
  color: rgb(255, 217, 203);
}

/*************/
/*** Cards ***/
.cards-wrapper {
  margin: 112px auto 72px auto;
  /* outline: 1px solid hotpink; */
}
.card {
  z-index: 2;
  border-radius: 4px;
  mix-blend-mode: multiply;
  transition: width 800ms cubic-bezier(0.42, 0.2, 0.23, 1.27),
    height 800ms cubic-bezier(0.42, 0.2, 0.23, 1.27), box-shadow 300ms;
  box-shadow: var(--card-box-shadow);
  opacity: var(--opacity);
  cursor: grab;
}
.card.circle {
  border-radius: 50%;
}
/* .card:hover {
  box-shadow: var(--card-box-shadow-hover);
} */
.card:active:hover {
  cursor: grabbing;
}
.card.ghost {
  z-index: 2;
  box-shadow: var(--card-box-shadow-ghost);
}
.wrapper {
  width: 100%;
}
