@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  background: #fbfbfb;
  margin: 0;
  font-family: "Rubik Mono One", sans-serif;
  overflow-x: hidden;
  touch-action: manipulation;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  top: 16px;
  left: 0;
  right: 0;
  width: 96vw;
  margin: 0 auto 0 auto;
  /* outline: 1px solid red; */
}

.logo {
  margin-left: var(--cards-margin);
  font-size: 1.125rem;
  padding-left: 6px;
  user-select: none;
}

.description {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  margin-left: var(--cards-margin);
  padding-left: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}

.github-button {
  margin-left: auto;
  padding-right: 8px;
  margin-right: var(--cards-margin);
  /* outline: 1px solid red; */
}

.job {
  position: fixed;
  z-index: 10;
  top: 24px;
  left: 0;
  right: 0;
  max-width: 600px;
  width: 80vw;
  height: 32px;
  line-height: 32px;
  margin: 0 auto 0 auto;
  background-color: coral;
  text-align: center;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}

.cards-wrapper {
  margin: 112px auto 72px auto;
  /* outline: 1px solid hotpink; */
}

.card {
  z-index: 2;
  border-radius: 4px;
  mix-blend-mode: multiply;
  transition: width 800ms cubic-bezier(0.42, 0.2, 0.23, 1.27),
    height 800ms cubic-bezier(0.42, 0.2, 0.23, 1.27), box-shadow 800ms;
  box-shadow: var(--card-box-shadow);
  opacity: var(--opacity);
  cursor: grab;
}

.card.circle {
  border-radius: 50%;
}

.card:hover {
  box-shadow: var(--card-box-shadow-hover);
}

.card:active:hover {
  cursor: grabbing;
}

.card.ghost {
  z-index: 2;
  box-shadow: var(--card-box-shadow-ghost);
}

.wrapper {
  width: 100%;
}
