.dialog-enter {
  top: var(--card-pos-y);
  left: var(--card-pos-x);
  width: var(--card-width);
  height: var(--card-height);
  box-shadow: var(--card-box-shadow);
  transform: translate(0%, 0%);
  border-radius: 4px;
}

.dialog-enter-active {
  left: 50%;
  top: 50%;
  width: 90vh;
  height: 90vh;
  box-shadow: var(--dialog-box-shadow);
  transform: translate(-50%, -50%) scale(1.05, 1.05) rotate(180deg)
    rotateX(10deg);
  transition: all 300ms;
  border-radius: 50%;
  /* transition-timing-function: cubic-bezier(.66, .41, .49, 1.25); */
}

.dialog-enter-done {
  left: 50%;
  top: 50%;
  width: 90vh;
  height: 90vh;
  border-radius: 50%;
  box-shadow: var(--dialog-box-shadow);
  transform: translate(-50%, -50%) scale(1, 1) rotate(90deg) rotateY(0deg);
  transition: all 150ms;
  transition-timing-function: cubic-bezier(0.49, 0.38, 0.51, 1.35);
}

.dialog-exit {
  left: 50%;
  top: 50%;
  width: 90vh;
  height: 90vh;
  border-radius: 50%;
  box-shadow: var(--dialog-box-shadow);
  transform: translate(-50%, -50%) scale(1, 1) rotate(20deg) rotateY(0deg);
}

.dialog-exit-active {
  width: var(--card-width);
  height: var(--card-height);
  top: var(--card-pos-y);
  left: var(--card-pos-x);
  transform: translate(0%, 0%) scale(1, 1) rotate(0deg) rotateY(0deg);
  border-radius: 4px;
  box-shadow: var(--card-box-shadow);
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.66, 0.41, 0.49, 1.25);
}

.card-expand-window {
  position: fixed;
  mix-blend-mode: multiply;
  z-index: 4;
}

.dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

@media only screen and (orientation: portrait) {
  .dialog-enter-active {
    width: 90vw;
    height: 90vw;
  }
  .dialog-enter-done {
    width: 90vw;
    height: 90vw;
  }
  .dialog-exit {
    width: 90vw;
    height: 90vw;
  }
  .dialog-exit-active {
    width: var(--card-width);
    height: var(--card-height);
  }
}
