.card.g-0 {
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}
.card.g-1 {
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}
.card.g-2 {
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}
.card.g-3 {
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
.card.g-4 {
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
.card.g-5 {
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
.card.g-6 {
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.card.g-7 {
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.card.g-8 {
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
.card.g-9 {
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
.card.g-10 {
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
.card.g-11 {
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
.card.g-12 {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.card.g-13 {
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}
.card.g-14 {
  background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
}
.card.g-15 {
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}
.card.g-16 {
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}
.card.g-17 {
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}
.card.g-18 {
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
}
.card.g-19 {
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
}
.card.g-20 {
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
}
.card.g-21 {
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
.card.g-22 {
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
